---
---

@import "{{ site.theme }}";

.LI-profile-badge {
	float:left;
}

header {
	background-color: #303336;
    color: #FDFDFB;
    width: 150px;
}

section {
    width: 750px;
    float: left;
    padding-bottom: 50px;
    padding-left: 250px;
}
